@font-face {
  font-family: 'Jost';
  src: url('./../../fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./../../fonts/Jost-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./../../fonts/Jost-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Body Text Slim';
  src: url('./../../fonts/BodyTextSlimTrial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Body Text Slim';
  src: url('./../../fonts/BodyTextSlimTrial-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Body Text Slim Bold';
  src: url('./../../fonts/BodyTextSlimTrial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Body Text Slim Italic';
  src: url('./../../fonts/BodyTextSlimTrial-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}